@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$font-family-sans-serif : "Lato", sans-serif;
$modal-inner-padding : 19px;

$font-size-lg: 0.8125rem;

$font-size-h2: 1.3125rem;

$sm-header-bg : #4e579f;
$sm-header-height : 40px;

.sm-header {
	background-color: $sm-header-bg;
	min-height: $sm-header-height;

	.navbar-brand {
		padding-top: 5px;
		height: $sm-header-height;

		img {
			vertical-align: middle;
		}
	}
}

[class^=sm-modal] {
	border: 1px solid green;
	padding: 1rem;
}

.sm-modal-dialog {
	div + div {
		margin-top: 1rem;
	}

	h4 {
		text-transform: uppercase;
		font-size: 12px;
	}
}

.sm-modal-overlay {
	background-color: rgba(black,0.5);
}

.modal {
	&-header {

	}
}

section {
	& + section {
		margin: 2rem 0 1rem;
	}
}



.sm-guide {
	.modal-header,
	.modal-footer,
	.modal-body {
		padding-left: 0;
		padding-right: 0;
	}

	.modal-content {
		padding: 12px 36px 13px;
	}

	.modal-header {
		border-bottom: 0 none;
	}
}